* {
      margin: 0;
      padding: 0;
      border: 0;
    }

    body {
      background-color: #000;
    }

    .clock {
      height: 500px;
      width: 500px;
      background-color: #FADF5A;
      border-radius: 100%;
      border: 3px solid #BAA643;
      margin: auto;
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
    }

    .twelve {
    position: absolute;
    width: 3px;
    height: 15px;
    background: #3B3415;
    left: 0;
    top: 0;
    right: 0;
    margin: 0 auto;
    text-indent: 5px;
   }

  .three {
    position: absolute;
    width: 15px;
    height: 3px;
    background: #3B3415;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto 0;
    text-indent: -5px;
    text-align: center;
   }

  .six {
    position: absolute;
    width: 3px;
    height: 15px;
    background: #3B3415;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    text-indent: 5px;
  }

  .nine {
    position: absolute;
    width: 15px;
    height: 3px;
    background: #3B3415;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto 0;
    text-indent: 5px;
    text-align: center;
   }

   .center {
     width: 10px;
     height: 10px;
     position: absolute;
     left: 0; right: 0; bottom: 0; top: 0;
     margin: auto;
     background: #3B3415;
     border-radius: 100%;
   }

   #seconds {
     position: absolute;
     height: 160px;
     width: 2px;
     left: 0; right: 0; bottom: 160px; top: 0px;
     margin: auto;
     background: #000;
     -webkit-transform-origin: bottom;
     background: #BA0000;
  }

  #minutes {
    position: absolute;
    height: 200px;
    width: 2px;
    left: 0; right: 0; bottom: 200px; top: 0px;
    margin: auto;
    background: #3B3415;
    -webkit-transform-origin: bottom;
  }

  #hours {
    position: absolute;
    height: 80px;
    width: 6px;
    left: 0; right: 0; bottom: 80px; top: 0px;
    margin: auto;
    background: #3B3415;
    -webkit-transform-origin: bottom;
  }
